body    
{   
    background-color:#FFFFFF;
    background-size: cover; 
    font-family: Arial, Helvetica, sans-serif; 
}
form {
    width:400px;
    margin-left:1000px ;
}
.search {
    position: absolute;
    width: 550px;
    height: 46px;
    left: 568px;
    top: 82px;
    background: #8F1616;
}
.buku-pai{
    position: absolute;
width: 20px;
height: 55px;
left: 100px;
bottom: 350px;
z-index: 1;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
}
.buku-mtk{
    position: absolute;
    width: 120px;
    height:155px;
    left: 3px;
    top: 29px;

    filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
    margin-left:20px;
    border-radius: 5px;
}
.buku1{
    position: absolute;
    width: 120px;
    height:155px;
    right: 970px;
    top: 29px;

    filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
    margin-left:20px;
    border-radius: 5px;
}
.buku-ipas{
    position: absolute;
    width: 120px;
    height: 155px;
    right: 790px;
    top: 29px;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}
.buku-pkn{
    position: absolute;
    width: 120px;
    height: 155px;
    right: 610px;
    top: 29px;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}
.buku-it{
    position: absolute;
    width: 120px;
    height: 155px;
    right: 430px;
    top: 29px;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}
.buku-bindo{
    position: absolute;
width: 120px;
height: 155px;
right: 250px;
top: 29px;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}
.buku-sejarah{
    position: absolute;
width: 120px;
height: 155px;
right: 70px;
top: 29px;

filter: drop-shadow(3px 5px 4px rgba(0, 0, 0, 0.25));
border-radius: 5px;
}
.kotak p{
    margin-left: 65vh;
}
.tombol{
    background: #1a1a1a;
    color: white;
    font-size: 11pt;
    margin-top: 1000px
    width: 20px ;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.kotak{
    /* Rectangle 4019 */

    position: absolute;
    width: 1120px;
    height: 290px;
    left: 75px;
    top: 300px;

    background: #8F1616;
    margin-right: 100px;
}
.kotak2{
    /* Rectangle 4019 */

    position: absolute;
    width: 1120px;
    height: 220px;
    left: 1px;
    top: 500px;

    background: #8F1616;
    margin-right: 100px;
}
.logo {
    position: absolute;
    width: 43px;
    height: 70px; 
    left: 1112px;
    top: 87px;
}
.button {
    position: absolute;
    width: 60px;
    height: 52px;
    left: 1110px;
    top: 82px;
    
    background: #ffffff;
}
::-webkit-input-placeholder { /* For WebKit browsers */
    color:#ffffff;
    font-family:Nunito;
    font-weight:bold;
}
:-moz-placeholder { /* For Mozilla Firefox 4 to 18 */
    color:#ffffff;
    font-family:Nunito;
    font-weight:bold;
}
::-moz-placeholder { /* For Mozilla Firefox 19+ */
    color:#ffffff;
    font-family:Nunito;
    font-weight:bold;
}
:-ms-input-placeholder { /* For Internet Explorer 10+ */
    color:#ffffff;
    font-family:Nunito;
    font-weight:bold;
}
.tulisan{
    position: absolute;
    margin-left: 74vh;
    margin-top: 60px;
    font-family: 'Inter';
    font-size: 20px;
}
.tulis{
    position: absolute;
    margin-left: 74vh;
    margin-top: 100px;
    font-size: 15px;
}
.tulis-lagi{
    position: absolute;
    margin-left: 4vh;
    margin-top: 170px;
    font-size: 30px;
}
.bg{
    position: absolute;
    width: 1120px;
    height: 1360px;
    left:20px;
    top : 148px;

    background : #3A3E4A;
    border-radius: 10px;
    margin-left:  55px
}